body{
    font-family: 'Roboto', sans-serif;
}
.color{
    color: brown;
}
.contianer{
    display: flex;
    margin: 40px 30px;
    width: 100%;
}
.width1{
    margin-top: 200px;
    margin-left: 70px;
    padding: 10px;
}
.width1 h1{
    font-size: 3rem;
}
.but{
   padding: 12px 14px;
   font-weight: 700;
   border-radius: 10px;
   margin-top: 10px;
   background: #008080;
background: linear-gradient(to left, #008080 0%, #FFFFFF 25%, #05C1FF 50%, #FFFFFF 75%, #005757 100%);
color: red;
}
.contianer2{
    display: flex;
    background-image: url(img/7.png);
    
   
}
.im{
    
    height:500px ;
    width: 300px;
    margin-left: 150px;
}
.about{
    margin-top: 50px;
    padding: 40px 50px;
    text-align: justify;
    margin-left: 300px;
}
.b{
    margin-top: 50px;
    padding: 20px 30px;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10px;
    color:yellow;
    background: #25CC0F;
    background: linear-gradient(to bottom right, #25CC0F 0%, #9E3212 100%);
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}
.recipie{
    text-align: center;
    
}
.card {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    padding-bottom: 1rem;
    background-color: #fff;
    width: 400px;
    overflow: hidden;
  }
.degin{
    border-radius: 0.5rem 0.5rem 0 0;
    width: 400px;
    object-fit: cover;
    max-height: max(10rem, 30vh);
    aspect-ratio: 4/3;
  } 
  .card1{
    background-color: beige;
  }
  .contianer3{
    display: flex;
    margin-left: 270px;
   
  }
  #car2{
    margin-left: 10px;
  }
  .contianer4{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    height: 100px;
    margin-top: 50px;
    width: 900px;
    margin-left: 180px;
    border-radius: 10px;
    padding: 50px 50px;
  }
  .dribble{
    margin-left: 250px;
    
  }
  .instagram{
    margin-left: 250px;
    
  }
  .outube{
    margin-left: 50px;
    
  }
  .contianer4 h1{
    font-weight: 700;
  }